.header,.visit-header{
  color: #4158D0;
  text-shadow:5px 5px 5px  #C850C0;
}
.card {
  width: 150px;
  height: 150px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}
.card-img{
  height: 150px;
}

.card-content{
  color: #C850C0;
  font-weight: 600;
}
.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
}



.list-item{
  background-color: #ffcd70;
  padding: 30px;
  margin: 10px;
  align-items: center;
  position: relative;
}
.list-item p{
  color: #C850C0;
  font-size: 1.3rem;
  font-weight: 600;

}

.visited {
  border-left: 1rem solid #C850C0;
  opacity: 0.8;
}
.visited::after {
  content: "VISITED";
  background-color: #C850C0;
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  position: absolute;
  left: 40%;
  top: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
}
.save-color{
  background-color: #C850C0;
  border: none;
  color: #4158D0;
  font-weight: 700;
}
.save-color:hover{
  background-color: #FFCC70;
}
.cancel-color{
  background-color: #ffcc70;
  border: none;
  color: #4158D0;
  font-weight: 700;
}
.cancel-color:hover{
  background-color: #C850C0;
}
.col-light{
  color: #FFCC70;
  font-size: 20px;
}
.col-dark{
  color: #C850C0;
}
.modal-bg{
  background: linear-gradient(43deg, #4159d09f 0%, #c850c0b2 46%, #FFCC70 100%);
}
.head{
  color: #4158D0;
}
body{
  background: linear-gradient(43deg, #4159d05b 0%, #c850c05e 46%, #ffcd7093 100%);
}